{% extends "base.html" %}
{% block title %} Bug View {% endblock %}
{% block content %}
<h1 align="center" xmlns="">{{success}}</h1>
<body>
<div>
    <link href="style.css" rel="stylesheet">

    <h3 align = "center" >View All Bugs</h3>
    <button class="btn btn-primary" id="goToSubmission">Create Bug</button>
    <div class="viewAll">
        <div class="row g-3" id="comment-section-list">
            <h3 class="pt-2">Bugs</h3>
            <div class="col-12 m-1">
                <div class="card" id="bugViewer">
                    <h5> No Bugs To Display</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="index.js"></script>
</body>
{% endblock %}