{% extends "base.html" %}
{% block title %} Review Bug {% endblock %}
{% block content %}
<div>
    <h3 align = "center" >Review Bugs</h3>
    <div class="d-flex flex-row">
        <select id="severity" class="form-select" aria-label="Default select example">
            <option disabled selected>Severity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
        <select id="urgency" class="form-select" aria-label="Default select example">
            <option disabled selected>Urgency</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
        <select id="assign-to" class="form-select" aria-label="Default select example">
            <option disabled selected>Assign to...</option>
        </select>
        <select id="status" class="form-select" aria-label="Default select example">
            <option disabled selected>Status</option>
            <option value="2">Accept</option>
            <option value="3">Reject</option>
            <option value="4">Close</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" id="submit" name="submit">
    </div>
</div>
{% endblock %}